
.btn_list{
    float: right;
}
.titulo{
    position: relative !important;
    font-size: 120%;
    color: black;
}
.sub-titulo{
    position: relative !important;
    font-size: 90%;
    color: grey;
}