

<ion-content [fullscreen]="true">
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qr-code">
      <ion-icon name="barcode"></ion-icon>
      Lector QR
    </ion-tab-button>
    <ion-tab-button tab="ingresar">
      <ion-icon name="add-circle-outline"></ion-icon>
      Ingresar
    </ion-tab-button>
    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="ajustes">
      <ion-icon name="settings"></ion-icon>
      Ajustes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
