ion-card{
    margin-top: 35%;
}

.info-content{
    position: relative;
    width: 100%;
}
.div-img{
    width: 100%;
}
img {
    width: 40%;
    border-radius: 50%;
    margin-top: 5%;
  }
.info-nom{
    font-size: 30px;
    margin-top: 10px;
}
.rol{
    font-size: 17px;
    margin-top: 5px;

}
.div-info{
    margin-top: 7%;
    font-size: large;
    
}
.info{
    margin-bottom: 5px;
}
.div-btns-ajustes{
    margin-top: 8%;
    margin-bottom: 5%;
}